USE [master]
GO
/****** Object:  Database [Esercizio 1]    Script Date: 24/02/2025 15:19:53 ******/
CREATE DATABASE [Esercizio 1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio 1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio 1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio 1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio 1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio 1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio 1]
GO
/****** Object:  Table [dbo].[Cantiere]    Script Date: 24/02/2025 15:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantiere](
	[IdCantiere] [uniqueidentifier] NOT NULL,
	[DenominazioneCantiere] [varchar](30) NOT NULL,
	[Indirizzo] [varchar](20) NOT NULL,
	[Città] [varchar](20) NOT NULL,
	[CAP] [nchar](5) NOT NULL,
	[PersonaRiferimento] [varchar](50) NOT NULL,
	[DataInzioLavori] [datetime] NOT NULL,
	[DataFineLavori] [datetime] NULL,
	[LavoriTerminatiSI_NO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/02/2025 15:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Cognome] [varchar](30) NOT NULL,
	[DataDiNascita] [datetime] NOT NULL,
	[Sesso] [bit] NULL,
	[CF] [nchar](16) NOT NULL,
	[P_IVA] [nchar](11) NOT NULL,
	[Attivo] [bit] NOT NULL,
	[Saldo] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operaio]    Script Date: 24/02/2025 15:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operaio](
	[IdDipendente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Cognome] [varchar](30) NOT NULL,
	[CF] [nchar](16) NOT NULL,
	[FigliACarico] [int] NOT NULL,
	[Sposato] [bit] NOT NULL,
	[LivelloLavorativo] [varchar](50) NOT NULL,
	[DescrizioneMansione] [varchar](80) NOT NULL,
	[Salario] [money] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
